[submodule "src/armor-agda"]
	path = src/armor-agda
	url = https://github.com/cwjnkins/aeres.git
	branch = main
[submodule "src/armor-driver"]
	path = src/armor-driver
	url = https://github.com/joyantaDebnath/aeres-external-driver.git
	branch = main